<div class="col-6 shadow rounded p-5">
  <hr>
  <%= render @post %>

  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> | |
    <%= link_to "Back to posts", posts_path %>
    <br>
  </div>
</div>
<%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-sm btn-danger mt-5" %>
